:root {
  // p-slides specific
  --slide-debug: 0;
  --slide-aspect-ratio: 1.5;
  --sliding-duration: calc(500ms + 2000ms * var(--slide-debug, 0));
  --fragment-duration: calc(300ms + 1200ms * var(--slide-debug, 0));
  --slide-font-size: 5;

  --progress-color: #f60;
  --controls-color: gray;
}
