p-slide {
  position: relative;
}

pre p-fragment code[class*="language-"] {
  white-space: pre;
}

:not(pre) > code {
  background-color: rgba(255, 102, 0, .1);
  border-radius: .25em;
  padding: 0 .25em;
}

p {
  margin: 0 0 .5em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

pre {
  font-size: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
