p-slide {
  position: relative;
}

p {
  margin: 0 0 .5em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

pre {
  font-size: 50%;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
