@import "core/typography.scss";
@import "core/utility.scss";
@import "core/scaffold.scss";

:root {
  font-family: Raleway, system-ui, sans-serif;
  --slide-bg: white;
  --brand-color: #f60;
}

.js-heading {
  background: #f7df1e;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: .35em;
}

.our-header {
  border-left: var(--brand-color) solid .15em;
  padding: .5em;
  margin: 0 0 .5em;
}

.vega {
  position: absolute;
  height: 75%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.delaunay-sample {
  background: var(--brand-color) paint(delaunay);
  height: 6em;
  width: calc(4em * var(--slide-aspect-ratio));
  margin: 0 auto;
}

.units {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  font-size: 70%;
}
.syntaxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  font-size: 90%;
}

.the-box {
  background-color: rebeccapurple;
  color: white;
  text-align: center;
  padding: 0 .25em;

  &.animated {
    animation: streeetch 2s infinite;
    &-wrong {
      animation-name: streeetch-wrong;
    }
  }
}

@keyframes streeetch {
  from { width: 10em; }
  to { width: 20em; }
}
@keyframes streeetch-wrong {
  from { width: 10em; }
  to { width: 20em; }
}

ripple-button {
  border: none;
  border-radius: .25em;
  font-size: 2em;
  width: 10em;
  padding: .25em 0;
  background-image: paint(ripple);
  background-color: var(--brand-color);
  color: white;
  text-align: center;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, .35);
  cursor: default;
  --ripple-duration: .5s;
}
