@import "core/typography.scss";
@import "core/utility.scss";
@import "core/scaffold.scss";

:root {
  font-family: Raleway, system-ui, sans-serif;
  --slide-bg: white;
  --brand-color: #f60;
}

.cover {
  padding: 0;

  &-top {
    background-color: var(--brand-color);
    background-image: paint(delaunay);
    border-bottom: .08em solid white;
    height: 50%;
    color: white;
    font-size: 50%;
    padding: 3% 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: system-ui, sans-serif;

    > * {
      margin: 0;
      font-weight: normal;
      filter: drop-shadow(0 0 .025em #000);
    }
    h1 {
      font-size: 2.5em;
      line-height: 1;
    }
    small {
      display: block;
    }
  }
  &-bottom {
    border-top: .08em solid white;
    background-color: #001236;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;;
    padding: 3% 6%;

    img:first-child {
      width: 18em;
    }
    img:last-child {
      width: 2.5em;
    }
  }
  &-location {
    display: flex;
    justify-content: space-between;

    img {
      height: 2em;
    }
  }

  &.cssday {
    --slide-bg: var(--brand-color);
    background-color: var(--slide-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 133vmin, auto;
    background-image: url('../img/logo-antreem-contour.svg'), paint(delaunay);
    color: white;
    text-align: center;
    text-shadow: 0 0 .25em black;

    small { display: block; }

    img {
      background: white;
      padding: .2em;
      border-radius: .5em;
      height: 5em;
    }
  }
}

.js-heading {
  background: #f7df1e;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: .35em;
}

.our-header {
  border-left: var(--brand-color) solid .15em;
  padding: .5em;
  margin: 0 0 .5em;
}

.vega {
  position: absolute;
  height: 75%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.rendering-cycle {
  align-self: center;
  width: 10em;
  height: 10em;
  border-radius: 5em;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

  svg, span {
    grid-area: 1 / 1 / span 2 / span 2;
  }
  span {
    align-self: center;
    justify-self: center;
    width: min-content;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
  }

  path {
    fill: var(--brand-color);
    transform: rotate(45deg);
    transform-origin: 5px 5px;
  }
  p-fragment {
    font-size: 75%;
    width: 6em;
    height: 6em;
    background-color: rgba(white, .75);
    border: .1em solid var(--brand-color);
    border-radius: .5em;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: -1em;

    &:nth-child(1) {
      grid-area: 1 / 1 / span 1 / span 1;
      align-self: start;
      justify-self: start;
    }
    &:nth-child(2) {
      grid-area: 1 / 2 / span 1 / span 1;
      align-self: start;
      justify-self: end;
    }
    &:nth-child(3) {
      grid-area: 2 / 2 / span 1 / span 1;
      align-self: end;
      justify-self: end;
    }
    &:nth-child(4) {
      grid-area: 2 / 1 / span 1 / span 1;
      align-self: end;
      justify-self: start;
    }
  }
}

.delaunay-sample {
  background: var(--brand-color) paint(delaunay);
  height: 6em;
  width: calc(4em * var(--slide-aspect-ratio));
  margin: 0 auto;
}

.units {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  font-size: 70%;
}
.syntaxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  font-size: 90%;
}

.the-box {
  background-color: rebeccapurple;
  color: white;
  text-align: center;
  padding: 0 .25em;

  &.animated {
    animation: streeetch 2s infinite;
    &-wrong {
      animation-name: streeetch-wrong;
    }
  }
}

@keyframes streeetch {
  from { width: 10em; }
  to { width: 20em; }
}
@keyframes streeetch-wrong {
  from { width: 10em; }
  to { width: 20em; }
}

ripple-button {
  border: none;
  border-radius: .25em;
  font-size: 2em;
  width: 10em;
  padding: .25em 0;
  background-image: paint(ripple);
  background-color: var(--brand-color);
  color: white;
  text-align: center;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, .35);
  cursor: default;
  --ripple-duration: .5s;
}

.carousel {
  display: none;
  overflow: hidden;
  box-shadow: inset 0 0 0 2px;
  transition: --carousel-index 500ms;

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      border: none;
      border-radius: 1em;
      background: none;
      padding: 0;
      line-height: 2;
      width: 2em;
      height: 2em;
      font-size: 100%;
      transition: transform .1s;

      &:focus {
        outline: none;
        background: #eee;
      }
    }
  }

  &-previous:active {
    transform: rotate(-45deg);
  }
  &-next:active {
    transform: rotate(45deg);
  }
}

.intrinsic-sizes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.min-content-size,
.max-content-size {
  background: var(--brand-color);
  color: white;
  position: relative;
  margin: 2em .5em 0;

  &::before {
    content: "";
    position: absolute;
    top: -1em;
    left: 0;
    right: 0;
    height: .5em;
    border: .1em solid #222;
    border-bottom-width: 0;
  }
  &::after {
    position: absolute;
    top: -3em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 75%;
    color: #222;
  }
}
.min-content-size {
  max-width: min-content;
  &::after {
    content: 'minContentSize';
  }
}
.max-content-size {
  min-width: max-content;
  &::after {
    content: 'maxContentSize';
  }
}

.layout-explainer {
  align-self: center;
  border: .1em solid var(--brand-color);
  display: flex;
  flex-direction: column;
  padding: .25em;

  > p-fragment:last-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .25em;
    margin-top: .25em;
  }
}
.layout-child {
  border: .1em solid blue;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-fragment {
  border: .1em solid blue;
  margin: .1em;

  &s {
    border: .1em solid var(--brand-color);
    align-self: center;

    > p-fragment {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.animation-type {
  height: 3em;
  width: 15em;
  margin: .5em 0;
  border: .1em solid var(--brand-color);
  border-radius: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
}


.animation-showcase {
  display: grid;
  grid-template-columns: 50% 50%;
}
.cage {
  width: 4.2em;
  height: 4.2em;
  border: .1em solid #f60;
  position: relative;
  background-size: contain;
  background-clip: padding-box;
  background-repeat: no-repeat;
  margin: 1em auto 0;
}
[effect]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4em;
  height: 6em;
  background-repeat: no-repeat;
  background-position: 0 100%;
}
[effect]::before {
  content: attr(effect);
  position: absolute;
  top: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  font-size: .5em;
  white-space: nowrap;
}

.endpoint,
.ball {
  width: .5em;
  height: .5em;
  border-radius: .25em;
  margin: -.25em;
  background-color: green;
  position: absolute;
  top: 100%;
}
.ball {
  background-color: navy;
  transform: translate(calc(4em * var(--axis-x, 0)), calc(-4em * var(--axis-y, 0)));
}

[effect="linear"] {
  &::after {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><line stroke-width=".01" stroke="green" stroke-dasharray=".03 .01" x1="0" y1="1" x2="1" y2="0"/></svg>');
  }
  > .ball {
    animation: axis-x 2s linear infinite, axis-y 2s linear infinite;
  }
}

[effect="ease"] {
  &::after {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><path stroke-width=".01" stroke="green" stroke-dasharray=".03 .01" fill="none" d="M0,1C.25,.9, .25,0 1,0"/></svg>');
  }
  > .ball {
    animation: axis-x 2s linear infinite, axis-y 2s ease infinite;
  }
}

[effect="steps(4, start)"] {
  &::after {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg"><path stroke-width=".01" stroke="green" stroke-dasharray=".03 .01" fill="none" d="M0,.75h.25m0,-.25h.25m0,-.25h.25m0,-.25h.25"/></svg>');
  }
  > .ball {
    animation: axis-x 2s linear infinite, axis-y 2s steps(4, start) infinite;
  }
}

[effect="cubic-bezier(0, 1, .5, 1.5)"] {
  &::after {
    background-image: url('data:image/svg+xml,<svg viewBox="0 -.2 1 1.2" xmlns="http://www.w3.org/2000/svg"><path stroke-width=".01" stroke="green" stroke-dasharray=".03 .01" fill="none" d="M0,1C0,0 .5,-.5 1,0"/></svg>');
  }
  > .ball {
    animation: axis-x 2s linear infinite, axis-y 2s cubic-bezier(0, 1, .5, 1.5) infinite;
  }
}

[effect="sine"]::after {
  background-image: url('data:image/svg+xml,<svg viewBox="0 -.2 1 1.2" xmlns="http://www.w3.org/2000/svg"><path stroke-width=".01" stroke="green" stroke-dasharray=".03 .01" fill="none" d="M0,1C.16306589674228442,.48771337674340753 .31904635523723557,0 .5,0C.6809536447627644,0 .8369341032577156,.48771337674340753 1,1"/></svg>');
}

[effect="bounce"]::after {
  background-image: url('data:image/svg+xml,<svg viewBox="0 -.2 1 1.2" xmlns="http://www.w3.org/2000/svg"><path stroke-width=".01" stroke="green" stroke-dasharray=".03 .01" fill="none" d="M0,1Q.1,-1 .2,1Q.3,0 .4,1Q.5,.5 .6,1Q.7,.75 .8,1Q.9,.875 1,1"/></svg>');
}

[effect="projectile"]::after {
  background-image: url('data:image/svg+xml,<svg viewBox="0 -.2 1 1.2" xmlns="http://www.w3.org/2000/svg"><path stroke-width=".01" stroke="green" stroke-dasharray=".03 .01" fill="none" d="M0,1Q.65,-1 1.3,1"/></svg>');
}

[effect="random"]::after {
  background-image: url('data:image/svg+xml,<svg viewBox="0 -.2 1 1.2" xmlns="http://www.w3.org/2000/svg"><path stroke-width=".01" stroke="green" stroke-dasharray=".03 .01" fill="none" d="M0,0.7829210351062204L0.11068674140673758,0.5538387289772171 0.12917300279175212,0.36752141161590945 0.31206195690861155,0.9323699785697925 0.82530732110637,0.3422303514948397 0.9224856956140005,0.865522721657085 0.9401393760369526,0.8403839430216551 1,0.33293161385965686"/></svg>');
}

@keyframes axis-x {
  from { --axis-x: 0; }
  to { --axis-x: 1; }
}
@keyframes axis-y {
  from { --axis-y: 0; }
  to { --axis-y: 1; }
}

.time-cursor {
  margin: 2em 0;
  width: 15em;
  height: 1em;
  position: relative;
  border-style: solid;
  border-width: 0 .2em;

  &::before {
    content: "";
    position: absolute;
    top: .4em;
    width: 100%;
    height: .2em;
    background-color: var(--brand-color);
  }

  &::after {
    content: "â˜";
    position: absolute;
    top: .5em;
    transform: translateX(-50%);
    animation: timeline 4s infinite forwards;
  }
}

@keyframes timeline {
  0% { left: 0; }
  20% { left: 50%; }
  40% { left: 30%; }
  60% { left: 70%; }
  80% { left: 65%; }
  100% { left: 100%; }
}

.reading-marker {
  background-color: var(--brand-color);
  height: .5em;
  position: sticky;
  top: 0;

  &-wrapper {
    width: 20em;
    height: 15em;
    overflow: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50%;
  }
}

.links {
  font-size: 75%;
  align-self: center;

  li {
    margin-top: .5em;
  }
  a {
    display: block;
    width: fit-content;
    padding-left: 1.75em;
  }
}

.antreem-logo {
  position: absolute;
  height: 12em;
  right: 0;
  bottom: -4em;
}
.my-data {
  > h2 {
    margin-bottom: 0;
  }
  a {
    color: var(--brand-color);
  }
}
.my-face {
  border: .1em solid var(--brand-color);
  border-radius: 50%;
  height: 6em;
  float: left;
  margin: 0 1em;
}
.my-info {
  width: 8em;
  text-align: center;
  margin: 2em 2em 0;
  img {
    height: 1em;
    vertical-align: middle;
  }
}
.final-link {
  a {
    color: var(--brand-color);
  }
  img {
    display: block;
    margin: 1em auto 0;
    height: 7em;
  }
}
