@import "core/typography.scss";
@import "core/utility.scss";
@import "core/scaffold.scss";

:root {
  font-family: Raleway, system-ui, sans-serif;
  --slide-bg: white;
  --brand-color: #f60;
}

.js-heading {
  background: #f7df1e;
  color: black;
  text-align: center;
  font-weight: bold;
  padding: .35em;
}

.our-header {
  border-left: var(--brand-color) solid .15em;
  padding: .5em;
  margin: 0 0 .5em;
}

.vega {
  position: absolute;
  height: 75%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.drawing-circle {
  align-self: center;
  width: 10em;
  height: 10em;
  border-radius: 5em;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

  svg {
    grid-area: 1 / 1 / span 2 / span 2;
  }

  path {
    fill: var(--brand-color);
    transform: rotate(45deg);
    transform-origin: 5px 5px;
  }
  p-fragment {
    font-size: 75%;
    width: 6em;
    height: 6em;
    background-color: rgba(blue, .5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: -1em;

    &:nth-child(1) {
      grid-area: 1 / 1 / span 1 / span 1;
      align-self: start;
      justify-self: start;
    }
    &:nth-child(2) {
      grid-area: 1 / 2 / span 1 / span 1;
      align-self: start;
      justify-self: end;
    }
    &:nth-child(3) {
      grid-area: 2 / 2 / span 1 / span 1;
      align-self: end;
      justify-self: end;
    }
    &:nth-child(4) {
      grid-area: 2 / 1 / span 1 / span 1;
      align-self: end;
      justify-self: start;
    }
  }
}

.delaunay-sample {
  background: var(--brand-color) paint(delaunay);
  height: 6em;
  width: calc(4em * var(--slide-aspect-ratio));
  margin: 0 auto;
}

.units {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8em, 1fr));
  font-size: 70%;
}
.syntaxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  font-size: 90%;
}

.the-box {
  background-color: rebeccapurple;
  color: white;
  text-align: center;
  padding: 0 .25em;

  &.animated {
    animation: streeetch 2s infinite;
    &-wrong {
      animation-name: streeetch-wrong;
    }
  }
}

@keyframes streeetch {
  from { width: 10em; }
  to { width: 20em; }
}
@keyframes streeetch-wrong {
  from { width: 10em; }
  to { width: 20em; }
}

ripple-button {
  border: none;
  border-radius: .25em;
  font-size: 2em;
  width: 10em;
  padding: .25em 0;
  background-image: paint(ripple);
  background-color: var(--brand-color);
  color: white;
  text-align: center;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, .35);
  cursor: default;
  --ripple-duration: .5s;
}
